<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nexus" value="http://192.168.10.222:8081/repository/extensions/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <nexus>
      <add key="Username" value="admin" />
      <add key="ClearTextPassword" value="#85Shar2k25" />
    </nexus>
  </packageSourceCredentials>
</configuration>
