<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="ZoraNexus" value="http://192.168.10.222:8081/repository/extensions/" />
  </packageSources>
  <packageSourceCredentials>
    <ZoraNexus>
      <add key="Username" value="admin" />
      <add key="ClearTextPassword" value="PASS" />
    </ZoraNexus>
  </packageSourceCredentials>
</configuration>
